{% extends 'base.html' %}
{% block content %}
<link href="css/manage.css" rel="stylesheet" type="text/css">
<link href="/css/zone.css" rel="stylesheet" type="text/css">
   <div class="container">
            <div class="zone-nav">
                <div class="portrait">

                </div>
                <div class="list-group">
                    <a href="/admin/users" class="list-group-item ">用户管理</a>
                    <a href="/admin/blogs" class="list-group-item">帖子管理</a>
                    <a href="/admin/comments" class="list-group-item zactive">评论管理</a>
                    <a href="/admin/files" class="list-group-item">资源管理</a>
                </div>
            </div>

            <div class="content">
                <h2>
                    评论管理
                </h2>
                <p></p>
                <table class="table">
                        <thead>
                                <tr>
                                    <td><strong>评论id</strong></td>
                                    <td><strong>帖子id</strong></td>
                                    <td><strong>评论者id</strong></td>
                                    <td><strong>评论内容</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comment in result %}
                                <tr>
                                    <td>{{comment.commentid}}</td>
                                    <td>{{comment.blogid}}</td>
                                    <td>{{comment.userid}}</td>
                                    <td>{{comment.content | striptags | truncate(25)}}</td>
                                    <td>
                                        <span class="glyphicon glyphicon-remove-sign" onclick="delComment('{{comment.commentid}}')"></span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                <div class="turn">
                    <ul class="pagination">
                {% if page==1 %}
                    <li>
                        <a href="/admin/comments/1">上一页</a>&nbsp;
                    </li>

                {% else %}
                    <li>
                        <a href="/admin/comments/{{page-1}}">上一页</a>&nbsp;
                    </li>
                {% endif %}
                {% for i in range(total) %}
                    <li>
                         <a href="/admin/comments/{{i+1}}">{{i+1}}</a>&nbsp;
                    </li>

                {% endfor %}
                {% if page==total %}
                    <li>
                        <a href="/admin/comments/{{total}}">下一页</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/admin/comments/{{page+1}}">下一页</a>&nbsp;
                    </li>

                {% endif %}
                    </ul>
                </div>
            </div>


    </div>
<script>
    function delComment(commentid){
        var param = "commentid=" + commentid;
        $.post('/admin/del-comment', param, function(data){
            if(data=='del-success'){
                location.reload();
                return true;
            }
            else if(data=='del-fail'){
                window.alert('删除失败');
                return false;
            }
        })
    }

</script>
{% endblock %}