{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="panel-title">
        <h2>
            新手上路
        </h2>
    </div>
    <p></p>
    <div class="">
        <h4>欢迎您使用该论坛，下面是一些论坛的使用说明及用户须知。</h4>
        <p>本论坛分为四个板块：讨论区、刷题区、校园周边、资源分享、课程推荐</p>
        <p>在讨论区，用户可以对各种问题进行讨论，发表自己的观点</p>
        <p>在刷题区，用户可以具体讨论某道题的解法，与其他用户进行讨论共同进步</p>
        <p>在校园周边板块，用户可以分享校园周边的信息（如吃、喝、玩、乐、学等）</p>
        <p>在资源共享板块，用户可以以上传文件的形式分享自己认为有价值的资源，也可以对资源进行下载</p>
        <p>在课程推荐板块，用户可以发出各种公开课以及付费课程的介绍和推荐信息</p>
        <p>请注意发布帖子时请发布到正确的板块，否则管理员会对帖子进行删除。也请用户在论坛进行交流时注意自己的言行，
        不要散布危害国家利益、诽谤辱骂他人、淫秽色情等不良的资源和言论，否则会被禁言。</p>
        <p></p>
        <p>论坛设有等级制度，每天登录、发帖、评论等都会获得经验，但获得经验次数有限，具体为：</p>
        <p>登录：1次/天&nbsp;&nbsp;每次可获得10点经验</p>
        <p>评论：5次/天&nbsp;&nbsp;每次可获得2点经验</p>
        <p>发帖：2次/天&nbsp;&nbsp;每次可获得5点经验</p>
        <p>评论被他人点赞：5次/天&nbsp;&nbsp;每次可获得1点经验</p>
        <p>用户的等级越高便可获得更高的权限（阅读帖子等）</p>
        <p></p>
        <p>如果需要搜索帖子可以用论坛提供的搜索功能，输入想要搜索帖子的标题。</p>
        <p>用户可以收藏自己喜欢的帖子，并在个人空间找到它们，方便之后继续阅读。</p>
        <p></p>
        <p>最后，感谢您使用本论坛，祝您使用愉快。</p>
    </div>
    <div class="btn-group center-block">
        <button class="btn btn-lg btn-primary" onclick="location.href='/'">开始使用论坛</button>
    </div>

</div>

{% endblock %}