{% extends 'base.html' %}
{% block content %}
<link href="/css/div.css" rel="stylesheet">
<div>
        <ul class="breadcrumb">
            <li></li>
            <li class="active"></li>
        </ul>
    </div>
<div class="justify">
        <div class="container">
            <div class="head">
                <div>

                    <h2>搜索结果</h2>

                </div>
                <div>

                </div>
            </div>

            <div class="post-body">
                {% for blog, user in result %}
                <div class="post">
                    <div class="left">
                        <div class="title">
                            <h4><a href="/blog/{{blog.blogid}}">{{blog.headline}}</a></h4>
                            <span></span>
                            <span>[需要等级:{{blog.level}}]</span>
                        </div>
                        <div class="last">
                            <span class="glyphicon glyphicon-share-alt"></span>

                            <span>最后回复于</span>
                            <span>{{blog.updatetime}}</span>
                            <p class="content">
                                {{blog.content | striptags | truncate(20)}}
                            </p>
                        </div>
                    </div>

                    <div class="right">
                        <div class="rauthor">
                            <span class="glyphicon glyphicon-bookmark"></span>
                            <span>{{user.nickname}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="turn">
                <ul class="pagination">
                    {% if page==1 %}
                    <li><a href="/search/1-{{keyword}}">上一页</a>&nbsp;</li>
                    {% else %}
                    <li><a href="/search/{{page-1}}-{{keyword}}">上一页</a>&nbsp;</li>
                    {% endif %}
                    {% for i in range(total) %}
                    <li><a href="/search/{{i+1}}-{{keyword}}">{{i+1}}</a>&nbsp;</li>
                    {% endfor %}
                    {% if page==total %}
                    <li><a href="/search/{{total}}-{{keyword}}">下一页</a></li>&nbsp;
                    {% else %}
                    <li><a href="/search/{{page+1}}-{{keyword}}">下一页</a>&nbsp;</li>
                    {% endif %}
                </ul>

            </div>
        </div>

        <div class="jumbotron booter">
            <p>底部</p>
        </div>
    </div>




{% endblock %}