{% extends 'base.html' %}
{% block content %}
<link href="/css/post.css" rel="stylesheet">

<div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="select-section">
                    <select class="in select1" id="type">选择主题
                        <option>刷题区</option>
                        <option>讨论区</option>
                        <option>课程推荐</option>
                        <option>校园周边</option>
                    </select>
                </div>
                <input class="in" id="headline" type="text" placeholder="标题" />
                <div class="select-section">
                    <select class="in select2" id="level">等级限制
                        <option>无限制</option>
                        <option>1级</option>
                        <option>2级</option>
                        <option>3级</option>
                        <option>4级</option>
                        <option>5级</option>
                    </select>
                </div>
                <button class="submit" type="submit" onclick="writeblog()">发布</button>
            </div>
        </div>
        <div class="content">
            <textarea placeholder="在这写点什么吧..." id="content"></textarea>
        </div>
    </div>
{% endblock %}